:root{
    --header_footerColor: #2D033B;
    --bodyColor: #810CA8;
    --textColor: #C147E9;
    --linkColor: #E5B8F4;
}


*{
    font-family: "Tahoma";
    font-weight: normal;
    color: var(--textColor);
    margin:0;
    padding:0;
    font-size: 2vw;
}

body{
    background-color: var(--bodyColor);
}

header{
    background-color: var(--header_footerColor);
    padding: 1.3vw;
}

footer{
    background-color: var(--header_footerColor);
    padding: 1.3vw;
}

table, th, tr{
    border: 0.1vw solid var(--linkColor);
}

th{
    padding: 10px;
}

a{
    color: var(--linkColor);
}

li{
    color: var(--header_footerColor);
}

img{
    width: 7vw;
    border-radius: 1vw;
}

.emptyRow{
    height: 0.8vw;
    border: none;
}

.whiteback{
    background-color: white;
}

.serviceImg{
    width: 12vw;
    padding: 1vw;
    border: 1px solid purple;
    background-color: white;
    border-radius: 1.8vw;
}

#skills > table{
    border: 0;
}

#header1{
    color:#FFBF00;
}

#reward{
    width:30vw;
}

#certificates > img, a > img{
    width: 10vw;
}